body {
    margin: 0;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    /* font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Segoe UI", "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    color: #4a4a4a;
    /* background-color: rgb(97, 148, 211); */
    background-color: #e3e6f3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    padding:0;
}


form {    
    width: 350x;
    position: relative;
    background-color: #1c4108;
    padding: 100px;
    border-radius: 4px;

}

form h2{    
    font-size: 30px;   
    text-align: center; 
    color: #ffffff;

}


.form-field{
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;

    

}

input{
    
    font-family: 'Playfair Display', serif;
    /* font-family: inherit; */
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4a4a4a;
    text-align: center;   

}


button{
    
    outline: none;
    border: none;
    cursor: pointer;
    display:inline-block;
    margin: 0 auto;
    padding: 0.9 rem 2.5rem;
    text-align: center;
    background-color: #47AB11;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size:17px;
    height: 30px;
    width: 70px;
    
}